<html>

<head>
  <title>Weatheria</title>

  <script src="./highcharts.js"></script>
</head>

<body>
  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>
  <div>
    Current temprature: <span id="current"></span>
  </div>
  <div>
    Average today: <span id="average"></span>
  </div>
  <div>
    Max today: <span id="max"></span>
  </div>
  <div>
    Min today: <span id="min"></span>
  </div>
  <input type="text" name="limit" id="limit"><br><br>


  <script type="module" src="main.js"> </script>
</body>

</html>